<h1><%= t("app.welcome") %></h1>
<% if !signed_in? %>
  <%= link_to t("operation.sign_in"), new_user_session_path %>
<% end %>
<%= link_to t("operation.click_me"), all_users_path %> <%= t("app.add_more_friends") %>
