<div class="ui segment">
  <div class="ui top attached label">
    我的联系人
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>邮箱</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% if @contacts.any? %>
        <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.email %></td>
          <td>
            <%= link_to "发消息", new_conversation_path(receiver_id: contact.id), class: 'ui button', "data-turbolinks" => false %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td>
            您没有任何联系人，<%= link_to "点击此处", all_users_path %>去添加吧。
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
